@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 8% 8%;
    --foreground: 70 25% 82%;
    --card: 60 8% 11%;
    --card-foreground: 70 25% 82%;
    --border: 65 10% 18%;
    --input: 65 10% 18%;
    --primary: 74 87% 39%;
    --primary-foreground: 60 8% 8%;
    --secondary: 60 8% 11%;
    --secondary-foreground: 70 25% 82%;
    --muted: 60 8% 11%;
    --muted-foreground: 68 18% 56%;
    --accent: 60 8% 11%;
    --accent-foreground: 70 25% 82%;
    --ring: 74 87% 39%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Inter", sans-serif;
  }
}
